# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
script: 
  - R -e 'lapply(list.files(pattern=".*.R", recursive=TRUE), rmarkdown::render)'
